.login-homepage {
  background-color: #e7e4e4 !important;
  min-height: 100vh;
  max-width: 100%;
}

.new-logo {
  display: flex;
  margin-left: 35%;
  margin-right: auto;
  max-width: 30%;
  max-height: 30%;
  margin-top: 20px;
}

.brown {
  background-color: #701e19;
  position: absolute;
  border-radius: 70px 0px 0px 0px;
  height: 750px;
  width: 100%;
  bottom: 0px;
}

.login-form {
  margin-top: -29%;
}


.googleSignIn {
  position: absolute;
  left: 65%;
  top: 55%;
}
